/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* css reset */
* {
  margin: 0;
  padding: 0;
}
/* utilities style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.players-and-blogs {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
}
hr {
  border: 1px solid #d1d1d1;
}
.container {
  background-color: #ffffff;
  padding: 30px;
  padding-top: 0px;
  width: 870px;
}

/* Top Players style  */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  margin: 20px 0;
  font-size: 24px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-weight: 400;
  margin-left: 16px;
  font-size: 18px;
}

/* -------------------------- Blogs style ----------------- */
.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.blog {
  display: flex;
}
.thumbnail img {
  width: 150px;
}
.blog-title {
  margin-left: 15px;
}
.blog-title a {
  text-decoration: none;
  font-size: 16px;
}
.blog-title h3 {
  font-size: 18px;
}
.blog-title p {
  color: lightslategray;
  margin-top: 5px;
}
/* -----------------latest course style  */
.course-container {
  margin-top: 50px;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.courses {
  display: flex;
  justify-content: space-around;
  gap: 12px;
}
.course {
  padding: 12px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.course-thumbnail img {
  width: 266px;
  height: 141px;
  /* display: block;
  margin: 0px auto; */
}
.course-details {
  flex-direction: column;
}
.course-details h3 {
  font-size: 18px;
  margin: 10px 0;
}
.owner {
  color: #ed6b4f;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}
.course-info {
  display: flex;
  justify-content: space-between;
}
