/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* css reset */
* {
  margin: 0;
  padding: 0;
}
/* utilities style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.container {
  background-color: #ffffff;
  padding: 30px;
  width: 870px;
}

/* Players style  */
.section-title {
  color: #562eff;
  margin: 20px 0;
  font-size: 24px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-style: normal;
  margin-left: 16px;
  font-size: 18px;
}
